@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

#game, #start-screen, #finish-screen, #countdown {
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

h1 {
    font-size: 48px;
    padding: 16px;
}

p {
    font-size: large;
}

#lap-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

#start-screen, #finish-screen, #countdown {
    position: absolute;
    left: calc(50% - 400px);
    top: 112px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#start-screen > p, #finish-screen > p, #countdown {
    font-size: 2rem;
}

#start-btn, #end-btn, #solo-start {
    padding: 1rem;
}

.none {
    display: none !important;
}

.hide {
    visibility: hidden;
}

#countdown {
    background-color: #00000070;
}

#countdown > p {
    font-size: 2rem;
}

.control-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 2rem;
}

.controls > img {
    margin-top: 1rem;
    width: 10rem;
}

.flex {
    display: flex;
    gap: 0.25rem;
}

.car {
    width: 40px !important;
    margin: auto;
    transform: rotate(90deg);
}